APP_ENV=dev
APP_SECRET=STRONG_SECRET_KEY_FOR_YOUR_APP
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost

# DATABASE_URL="sqlite:///%kernel.project_dir%/var/data_%kernel.environment%.db"
DATABASE_URL="mysql://USER:PASSWORD@HOST:PORT/DBNAME?serverVersion=VERSION&charset=utf8mb4"
# DATABASE_URL="postgresql://app:!ChangeMe!@127.0.0.1:5432/app?serverVersion=16&charset=utf8"

CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1):8888?$'

JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=cb90fd4f786064ff0c320e4eb0f7ea5796d54ac19dbe77acc2b90fd856a51b41
